* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Mono", monospace;
  background-color: rgb(236, 151, 151);
}

p {
  font-size: 40px;
}

input,
button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

button:disabled:hover {
  cursor: not-allowed;
}

input:focus {
  outline: none;
}

header {
  display: flex;
  justify-content: center;
}

.title-calculadora {
  text-align: center;
  border-bottom: 1px solid black;
  width: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
}

main {
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(241, 181, 181, 0.74);
  padding: 50px;
  min-width: 80%;
  position: relative;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 10px;
}

.inputs label {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sair {
  position: absolute;
  top: 10px;
  right: 0;
  width: 10%;
  z-index: 5;
  margin: 10px;
}

#sair:hover,
#reset:hover {
  background-color: rgb(114, 1, 1);
  color: #fff;
}

#mais:hover,
#multiplica:hover {
  background-color: rgb(37, 114, 1);
  color: #fff;
}

#menos:hover,
#divisao:hover {
  background-color: rgb(233, 133, 2);
  color: #fff;
}

.message {
  animation: pisca 2s ease-in-out infinite;
}

@keyframes pisca {
  0% {
    color: red;
  }
  100% {
    color: rgb(114, 6, 6);
  }
}
